@layer theme, base, components, utilities;
@import "tailwindcss/theme" layer(theme);
@import "tailwindcss/utilities" layer(utilities) source("../");

@custom-variant dark (&:where([data-scheme=dark], [data-scheme=dark] *));

@theme {
  /* Screens (breakpoints) */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

@import "mafs/core.css";

.MafsView.MafsView {
    --mafs-bg: #f8f8f6;
    --mafs-fg: #334155;
    --mafs-line-color: #e2e8f0;
    --grid-line-subdivision-color: #cbd5e1;
}

[data-scheme=dark] .MafsView.MafsView {
    --mafs-bg: black;
    --mafs-fg: white;
    --mafs-line-color: #555;
    --grid-line-subdivision-color: #222;
}