<!-- 按照 weight 重排 Categories 顺序 -->
{{ define "main" }}
<header>
    {{- $taxonomy := $.Site.GetPage "taxonomyTerm" "categories" -}}
    {{- $terms := $taxonomy.Pages -}}
    {{ if $terms }}
    <h2 class="section-title">{{ $taxonomy.Title }}</h2>
    <div class="subsection-list">
        <div class="article-list--tile">
            {{ range .Pages.Byweight }}
            {{ partial "article-list/tile" (dict "context" . "size" "250x150" "Type" "taxonomy") }}
            {{ end }}
        </div>
    </div>
    {{ end }}
</header>
{{ end }}

<!-- 回到顶部 -->
<div id="back-top" style="display: none;">
    <a href="#top" title="To Top">
        <img src="/back_top.svg" alt="Back to Top" />
    </a>
</div>

<style>
    #back-top {
        position: fixed;
        bottom: 30px;
        right: 80px;
        background: #dbdbd9;
        border-radius: 7px;
        padding: 10px;
        transition: background-color 0.3s;
    }

    #back-top a {
        text-decoration: none;
        color: black;
    }

    #back-top:hover {
        background-color: #4b4b4b42;
    }
</style>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        var backTopButton = document.getElementById('back-top');

        window.onscroll = function () {
            if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
                backTopButton.style.display = 'block';
            } else {
                backTopButton.style.display = 'none';
            }
        };

        backTopButton.onclick = function (event) {
            event.preventDefault(); // Prevent default anchor behavior
            window.scrollTo({
                top: 0,
                behavior: 'smooth' // Smooth scroll to top
            });
        };
    });
</script>

<!-- 数学符号 目录渲染 -->
{{- partial "helper/external" (dict "Context" . "Namespace" "KaTeX") -}}
<script>
    window.addEventListener("DOMContentLoaded", () => {
        const elementsToRender = [".main-article", ".widget--toc"];

        elementsToRender.forEach(selector => {
            const element = document.querySelector(selector);
            if (element) {
                renderMathInElement(element, {
                    delimiters: [
                        { left: "$$", right: "$$", display: true },
                        { left: "$", right: "$", display: false },
                        { left: "\\(", right: "\\)", display: false },
                        { left: "\\[", right: "\\]", display: true }
                    ],
                    ignoredClasses: ["gist"]
                });
            }
        });
    });
</script>

<!-- Mermaid Diagrams Support -->
{{ partial "mermaid.html" . }}