{{- $lang := .Language | lower -}}

{{- if eq $lang "bash" -}}
  <div class="bash-block">
    {{- $content := string .Inner -}}
    {{- $lines := split $content "\n" -}}
    {{- range $lines }}
      {{- $line := . -}}
      {{- if hasPrefix $line "$ " -}}
        <div class="bash-line bash-command">
          <span class="bash-prompt">➜</span>
          <span class="bash-code">{{ replace $line "$ " "" | html }}</span>
        </div>
      {{- else if ne $line "" -}}
        <div class="bash-line bash-output">{{ $line | html }}</div>
      {{- end -}}
    {{- end }}
  </div>
{{- else -}}
  <pre><code class="language-{{ $lang }}">{{ .Inner | safeHTML }}</code></pre>
{{- end }}

