// =============================================================================
// FONT MODULE  
// Include Fonts from Outside
// =============================================================================

@font-face {
    font-family: "Noto Serif";
    src: url('/fonts/Noto_Serif/NotoSerif-Italic.woff2') format('woff2');
    font-weight: 400 700;
    font-style: italic;
    font-stretch: 100%;
    font-display: swap;
}

@font-face {
    font-family: "Lato";
    src: url('/fonts/Lato/Lato-Regular.woff2') format('woff2');
    src: url('/fonts/Lato/Lato-Light.woff2') format('woff2');
    src: url('/fonts/Lato/Lato-Italic.woff2') format('woff2');
    font-weight: 300 400 700;
    font-style: normal italic light;
    font-display: swap;
}

// LXGW Bright Medium
@import url('/fonts/lxgw-bright/dist/result.css');

// Noto Serif SC ExtraLight
@import url('/fonts/Noto_Serif_SC/dist/result.css');


:root {
    --article-font-family: "Noto Serif SC ExtraLight", "Roboto", var(--base-font-family);
}

em {
    font-family: "Noto Serif", "Roboto", "LXGW Bright Medium", var(--base-font-family);
    font-style: normal;
    font-weight: 400;
}