// =============================================================================
// FONT MODULE  
// Include Fonts from Outside
// =============================================================================

// Noto Serif, Noto Serif Italic
// Regular, Italic, Bold, Bold Italic
@import url('/fonts/Noto_Serif/stylesheet.css');

// Lato
// Regular, Italic, Light(300)
@import url('/fonts/Lato/stylesheet.css');

// Wenya Quotes
// Medium (500)
// Modified from LXGW WenKai Lite Medium, swap the half-width quotes with full-width quotes.
@import url('/fonts/WenyaQuotes-Medium/result.css');

// Noto Serif SC
// Regular, Bold
@import url('/fonts/Noto_Serif_SC_Regular/result.css');
@import url('/fonts/Noto_Serif_SC_Bold/result.css');

:root :lang(zh)  {
    --article-font-family: "Noto Serif SC", "Noto Serif", "Roboto", var(--base-font-family);
}

:root :lang(en) {
    --article-font-family: "Noto Serif", "Roboto", "Noto Serif SC", var(--base-font-family);
}

:lang(zh) em {
    font-family: "Noto Serif Italic LatinOnly", "Wenya Quotes", "Roboto", var(--base-font-family);
    font-style: normal;
}

:lang(en) em {
    font-family: "Noto Serif Italic", var(--base-font-family);
    font-style: italic;
}

body {
    font-feature-settings: "chws" 1;
}