<!-- 加载进度条 -->
<script
    src="https://cdn.jsdelivr.net/gh/zhixuan2333/gh-blog@v0.1.0/js/nprogress.min.js"
    integrity="sha384-bHDlAEUFxsRI7JfULv3DTpL2IXbbgn4JHQJibgo5iiXSK6Iu8muwqHANhun74Cqg"
    crossorigin="anonymous"
></script>
<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/zhixuan2333/gh-blog@v0.1.0/css/nprogress.css"
    integrity="sha384-KJyhr2syt5+4M9Pz5dipCvTrtvOmLk/olWVdfhAp858UCa64Ia5GFpTN7+G4BWpE"
    crossorigin="anonymous"
/>
<script>
    NProgress.start();
    document.addEventListener("readystatechange", () => {
        if (document.readyState === "interactive") NProgress.inc(0.8);
        if (document.readyState === "complete") NProgress.done();
    });
</script>

<!-- 回到顶部 -->
<div id="back-top" style="display: none;">
    <a href="#top" title="To Top">
        <img src="/back_top.svg" alt="Back to Top" />
    </a>
</div>

<style>
    #back-top {
        position: fixed;
        bottom: 30px;
        right: 80px;
        background: #dbdbd9;
        border-radius: 7px;
        padding: 10px;
        transition: background-color 0.3s;
    }

    #back-top a {
        text-decoration: none;
        color: black;
    }

    #back-top:hover {
        background-color: #4b4b4b42;
    }
</style>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        var backTopButton = document.getElementById('back-top');

        window.onscroll = function () {
            if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
                backTopButton.style.display = 'block';
            } else {
                backTopButton.style.display = 'none';
            }
        };

        backTopButton.onclick = function (event) {
            event.preventDefault(); // Prevent default anchor behavior
            window.scrollTo({
                top: 0,
                behavior: 'smooth' // Smooth scroll to top
            });
        };
    });
</script>
