<div class="article-details">
    {{- $IsList := .IsList -}}
    {{- $Page := .Page -}}
    {{ if $Page.Params.categories }}
    <header class="article-category">
        {{ range ($Page.GetTerms "categories") }}
        <a href="{{ .RelPermalink }}" {{ with .Params.style
            }}style="background-color: {{ .background }}; color: {{ .color }};" {{ end }}>
            {{ .LinkTitle }}
        </a>
        {{ end }}
        {{ if $Page.Params.Tags }}
        <span class="category-tags-separator">|</span>
        {{ partial "article/components/tags" $Page }}
        {{ end }}
    </header>
    {{ end }}

    <div class="article-title-wrapper">
        <h2 class="article-title">
            <a href="{{ $Page.RelPermalink }}">
                {{- $Page.Title -}}
            </a>
        </h2>

        {{ with $Page.Params.description }}
        <h3 class="article-subtitle">
            {{ . }}
        </h3>
        {{ end }}
        {{ $showReadingTime := $Page.Params.readingTime | default ($Page.Site.Params.article.readingTime) }}
        {{ $showDate := not $Page.Date.IsZero }}
        {{ $showFooter := or $showDate $showReadingTime }}
        {{ if $showFooter }}
        <footer class="article-time">
            {{ if $showDate }}
            <div>
                {{ partial "helper/icon" "date" }}
                <p>  </p>
                <time class="article-time--published" datetime='{{ $Page.Date.Format "2006-01-02T15:04:05Z07:00" }}'>
                    {{- $Page.Date | time.Format $Page.Site.Params.dateFormat.published -}}
                </time>
            </div>
            {{ end }}

            {{ if $showReadingTime }}
            <div>
                {{ partial "helper/icon" "clock" }}
                <time class="article-time--reading">
                    {{ T "article.readingTime" $Page.ReadingTime }}
                </time>
            </div>
            {{ end }}
        </footer>
        {{ end }}
    </div>


    {{/*  {{ if $Page.IsTranslated }}
    <footer class="article-translations">
        {{ partial "helper/icon" "language" }}
        <div>
            {{ range $Page.Translations }}
            <a href="{{ .RelPermalink }}" class="link">{{ .Language.LanguageName }}</a>
            {{ end }}
        </div>
    </footer>
    {{ end }}  */}}

</div>