<header class="article-header">
    {{- $IsList := .IsList -}}
    {{- $Page := .Page -}}
    {{- $image := partial "helper/image" (dict "Image" $Page.Params.image "Resources" $Page.Resources) -}}
    {{ if $image }}
    <div class="article-image{{ with $Page.Params.imagePosition }} image-position-{{ . }}{{ end }}">
        <a href="{{ $Page.RelPermalink }}">
            <img src="{{ $image.Permalink }}" 
                 width="{{ $image.Width }}" 
                 height="{{ $image.Height }}" loading="lazy"
                 alt="Featured image of post {{ $Page.Title }}" 
                 {{ with $Page.Params.imageObjectPosition
                    }}style="object-position: {{ . }};"
                    {{ end }} 
                />
        </a>
    </div>
    {{ end }}

    {{ partial "article/components/details" (dict "Page" $Page "IsList" $IsList) }}
</header>
