<div class="article-list--compact links" style="margin: 1rem 0;">
    {{ range $.Site.Data.friends }}
        <article>
            <a href="{{ .website }}" target="_blank" rel="noopener">
                <div class="article-details">
                    <h2 class="article-title">
                        {{- .title -}}
                    </h2>
                    
                    {{ with .description }}
                    <footer class="article-time">
                        {{ . }}
                    </footer>
                    {{ end }}
                    {{ with .notes }}
                    <footer class="article-link">
                        {{ . }}
                    </footer>
                    {{ end }}
                </div>
        
                {{ with .image }}
                <div class="article-image">
                    <img src="{{ . }}" loading="lazy" style="max-height: 60px !important; max-width: 60px !important;">
                </div>
                {{ end }}
            </a>
        </article>
    {{ end }}
</div>